<template>
	<div class="background-color-footer pt-3 pb-3">
		<div class="container text-light">
			<div class="row">
				<div class="col-12 col-xl-4">
					<div>
						<b class="font-size-17" style="line-height:5px">
							CÔNG TY CỔ PHẦN XÂY DỰNG VÀ THƯƠNG MẠI DTP
						</b>
					</div>
					<div class="font-size-14">
						<b>Địa chỉ giao dịch</b>: Tòa nhà DTEC BUILDING – Số 6 Phan Chu Trinh, P.Tân Thành, Q.Tân Phú,
						TP.HCM <br>
						<b>Địa chỉ nhà xưởng</b>: Tòa nhà DTEC BUILDING – Số 6 Phan Chu Trinh, P.Tân Thành, Q.Tân Phú,
						TP.HCM <br>
						<b>MST</b>: 0315023748 <br>
						<b>Điện thoại</b>: 096 698 1085 – 090 635 1080 <br>
						<b>Email</b>: dv@halink.vn <br>
						<b>Website</b>: nt09.chonweb.vn <br>
					</div>
				</div>
				<div class="col-12 col-xl-2">
					<div>
						<b class="font-size-17">
							MENU CHÍNH
						</b>
					</div>
					<div class="pt-3">
						Trang chủ
						<br>
						Giới thiệu
						<br>
						Sản phẩm
						<br>
						Dự án
						<br>
						Tin tức
						<br>
						Liên hệ
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div>
						<b class="font-size-17">
							LIÊN HỆ
						</b>
					</div>
					<div>
						<input type="text" name="your-name" value="" size="30" class="" aria-required="true"
							aria-invalid="false" placeholder="Họ tên">
						<input type="text" name="your-phone" value="" size="30" class="" aria-required="true"
							aria-invalid="false" placeholder="Điện thoại">
						<input type="email" name="your-email" value="" size="30" class="" aria-required="true"
							aria-invalid="false" placeholder="Email">
						<input type="email" name="your-email" value="" size="30" class="" aria-required="true"
							aria-invalid="false" placeholder="Nội dung">
						<button class="btn-send">
							Gửi đi
						</button>
					</div>
				</div>
				<div class="col-12 col-xl-3">
					<div>
						<b class="font-size-17">
							FACEBOOK
						</b>
					</div>
					<iframe
						src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=250&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
						width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
						allowTransparency="true" allow="encrypted-media"></iframe>
                        
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
	.font-size-17 {
		font-size: 17px;
	}

	.font-size-14 {
		font-size: 14px;
	}

	.background-color-footer {
		background-color: #c79e13;
	}

	br {
		content: "";
		margin: 2em;
		display: block;
		font-size: 24%;
	}

	input {
		margin-top: 20px;
		border-radius: 3px;
		border: none;
	}

	.btn-send {
		color: black;
		background-color: #cccccc;
		border-radius: 16px;
		border: none;
		padding-right: 20px;
		padding-left: 20px;
		font-size: 13px;
		line-height: 32px;
		margin-top: 20px;
	}

</style>
