<template>
	<div class="position-ralative">
		<slick :options="slickOptions">
			<img src="http://www.trangianb.com/upload/hinhanh/120933531578526_1366x670.png" alt=""
				class="position-position">
			<img src="http://www.trangianb.com/upload/hinhanh/120933531578526_1366x670.png" alt=""
				class="position-position">
		</slick>
		<div class="container header position-absolute" style="z-index:50">
			<div class="row">
				<div class="col-xs-3 col-sm-6 col-md-3">
					<img src="http://nt09.chonweb.vn/wp-content/uploads/2019/06/logo-halinkvn.png" alt="">
				</div>
				<div class="col-xs-9 col-sm-6 col-md-9">
					<div class="d-flex justify-content-end">
						<nuxt-link to="" class="border-active">
							<i class="fab fa-facebook-f size-icon"></i>
						</nuxt-link>
						<nuxt-link to="" class="border-icon">
							<i class="fab fa-google-plus-g size-icon"></i>
						</nuxt-link>
						<nuxt-link to="" class="border-icon">
							<i class="fab fa-youtube-square size-icon"></i>
						</nuxt-link>
						<nuxt-link to="" class="border-icon">
							<i class="fab fa-twitter size-icon"></i>
						</nuxt-link>
						<nuxt-link to="" class="border-icon">
							<i class="fab fa-linkedin-in size-icon"></i>
						</nuxt-link>
						<nuxt-link to="" class="border-icon">
							<i class="fab fa-pinterest size-icon"></i>
						</nuxt-link>
					</div>
					<div>
						<nav class="navbar navbar-expand-lg navbar-light">
							<button class="navbar-toggler" type="button" data-toggle="collapse" style="z-index:60"
								data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
								<ul class="navbar-nav">
									<li class="nav-item font-weight-500">
										<nuxt-link class="nav-link active" to="">TRANG CHỦ <span
												class="sr-only">(current)</span></nuxt-link>
									</li>
									<li class="nav-item">
										<nuxt-link class="nav-link font-weight-500" to="">GIỚI THIỆU</nuxt-link>
									</li>
									<li class="nav-item dropdown">
										<nuxt-link class="nav-link dropdown-toggle font-weight-500" to=""
											id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">
											DỰ ÁN
										</nuxt-link>
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<nuxt-link class="dropdown-item" to="">Văn Phòng, Nhà Phố</nuxt-link>
											<nuxt-link class="dropdown-item" to="">Căn Hộ, Prnthouse</nuxt-link>
											<nuxt-link class="dropdown-item" to="">Khách Sạn</nuxt-link>
											<nuxt-link class="dropdown-item" to="">Resort</nuxt-link>
											<nuxt-link class="dropdown-item" to="">Biệt Thự</nuxt-link>
										</div>
									</li>
									<li class="nav-item dropdown">
										<nuxt-link class="nav-link dropdown-toggle font-weight-500" to=""
											id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">
											SẢN PHẨM
										</nuxt-link>
										<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<nuxt-link class="dropdown-item" to="">Nội Thất</nuxt-link>
											<nuxt-link class="dropdown-item" to="">Thiết Bị Vệ Sinh</nuxt-link>
										</div>
									</li>
									<li class="nav-item">
										<nuxt-link class="nav-link font-weight-500" to="">NHÀ MÁY & THIẾT BỊ</nuxt-link>
									</li>
									<li class="nav-item">
										<nuxt-link class="nav-link font-weight-500" to="">TIN TỨC</nuxt-link>
									</li>
									<li class="nav-item">
										<nuxt-link class="nav-link font-weight-500" to="">LIÊN HỆ</nuxt-link>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Slick from 'vue-slick'
	import '../../node_modules/slick-carousel/slick/slick.css'

	export default {
		components: {
			Slick,
		},
		data() {
			return {
				slickOptions: {
					slidetoshow: 1,
					infinite: false,
					speed: 300,
					dots: true,
					nextArrow: '<button type="button" class="slick-next"><i class="fas fa-chevron-right"></i></button>',
					prevArrow: '<button type="button" class="slick-prev"><i class="fas fa-chevron-left"></i></button>'
				}
			}
		}
	}

</script>

<style>
	.slick-next {
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translate(-100%, -50%);
		color: blue;
		border: none;
		background-color: transparent !important;
		font-size: 50px;
		opacity: 0.7;
	}

	.slick-prev {
		position: absolute;
		top: 50%;
		right: 100%;
		transform: translate(100%, -50%);
		z-index: 10;
		border: none;
		color: blue;
		opacity: 1;
		background-color: transparent !important;
		font-size: 50px;
		opacity: 0.7;
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -90%);
	}

	.slick-dots li {
		margin: 5px
	}

	.active {
		color: #c79e13 !important;
	}

	.font-weight-500 {
		font-weight: 500;
		color: #ffffff !important;
	}

	.font-weight-500:hover {
		color: #c79e13 !important;
	}

	.slick-dots button {
		display: block;
		width: 0.5rem;
		height: 0.5rem;
		padding: 0;

		border: none;
		border-radius: 100%;
		background-color: #ffffff;
		opacity: 0.5;
		text-indent: -9999px;
	}

	.slick-dots li.slick-active button {
		opacity: 1;
	}

	.header {
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0)
	}

	.border-icon {
		color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 50%;
		margin: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 12px;
		padding-right: 12px;
	}

	.size-icon{
		height:20px !important;
		width:auto
	}

	.border-active{
		padding-left:14px !important;
		padding-right:14px !important;
		color: #ffffff;
		border: 1px solid #ffffff;
		border-radius: 50%;
		margin: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.border-icon:hover {
		color: #eae03d;
		border: 1px solid #eae03d;
		border-radius: 50%;
	}

	.border-active:hover {
		color: #eae03d;
		border: 1px solid #eae03d;
		border-radius: 50%;
	}

</style>
