<template>
	<div>
		<div class="container mt-3 pb-3">
			<div class="row">
				<img class="img-width-auto col-12 col-lg-6"
					src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/DTP_Logo_Review_18.jpg" alt="">
				<div class="col-12 col-lg-6">
					<div class="div-active mt-3">
						<b>
							GIỚI THIỆU
						</b>
					</div>
					<hr class="hr-40">
					<div class="font-size-14">
						CÔNG TY CỔ PHẦN XÂY DỰNG VÀ THƯƠNG MẠI DTP chuyên tư vấn, thiết kế thi công xây dựng, trang trí
						nội
						thất cho các công trình dân dụng, căn hộ, biệt thự, các dự án resort, gym, spa, toà nhà văn
						phòng,
						nhà hàng, khách sạn theo xu hướng hiện đại và không kém phần sang trọng, đẳng cấp. Công ty DTP
						đã và
						đang trở thành một trong các doanh nghiệp uy tín của ngành thiết kế kiến trúc xây dựng & nội
						thất.
						<br>
						<br>
						Công ty DTP đã thổi vào một luồng gió mới vào xu hướng nội thất đương đại nhằm đa dạng hóa các
						phong
						cách, tạo ra nhiều sự lựa chọn cho khách hàng. Với phương châm “Kiến tạo giấc mơ nhà đẹp” là
						nhiệm
						vụ tiên quyết cùng bề dày kinh nghiệm của đội ngũ nhân sự, Công ty DTP tự tin cam kết sẽ đồng
						hành
						và mang lại không gì ngoài sự hài lòng và tin tưởng cho Quý khách hàng trên toàn quốc.
					</div>
					<div class="font-size-14 d-flex justify-content-end mt-5">
						<button class="btn-seemore">
							Xem thêm
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="bgr-color-gray pt-3 pb-3">
			<div class="container mt-3">
				<div class="div-active mt-3">
					<b>
						DỰ ÁN ĐÃ THỰC HIỆN
					</b>
				</div>
				<hr class="hr-40">
				<div class="row">
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/IMG_8378-600x333.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Officetel The Tresor
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/IMG_2527-768x576.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Green Valley
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/IMG_3307-768x576.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Officetel The Tresor
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/bb87e8e1da4f36116f5e-300x167.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Officetel The Tresor
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/VINHOMES13-1024x818.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Officetel The Tresor
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/nha-pho-anh-quy-05-1024x576.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Officetel The Tresor
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/VIET6327-HDR-1024x683.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Officetel The Tresor
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/CLUB-PHOTO_CFYC_CENTURYON_HANOI_APRIL2017_WPC-46-600x381.jpg"
								class="img-width-100" alt="">

							<div class="img-dark">
								<div class="linkonimg ">
									<nuxt-link to="" class="text-decoration-none text-light font-size-18">
										Officetel The Tresor
									</nuxt-link>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="font-size-14 d-flex justify-content-center mt-5">
					<button class="btn-seemore">
						Xem thêm
					</button>
				</div>
			</div>
		</div>
		<div class="pt-3 pb-3">
			<div class="container">
				<div class="div-active mt-3">
					<b>
						DỰ ÁN ĐÃ THỰC HIỆN
					</b>
				</div>
				<hr class="hr-40">
				<div class="row">
					<div class="col-12 col-md-6 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/blv3-150x150.jpg"
								class="img-square" alt="">
							<div class="read-more">
								<nuxt-link to="" class="black-link text-body font-size-30">
									Bàn ghế
								</nuxt-link>
								<button class="btn-readmore">
									Đọc tiếp
								</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/20170812_165613-100x100.jpg"
								class="img-square" alt="">
							<div class="read-more">
								<nuxt-link to="" class="black-link text-body font-size-30">
									Đèn
								</nuxt-link>
								<button class="btn-readmore">
									Đọc tiếp
								</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/capo_bar-150x150.jpg"
								class="img-square" alt="">
							<div class="read-more">
								<nuxt-link to="" class="black-link text-body font-size-30">
									Ghế ghỗ
								</nuxt-link>
								<button class="btn-readmore">
									Đọc tiếp
								</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-3">
						<div class="position-relative">
							<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/blv-150x150.jpg"
								class="img-square" alt="">
							<div class="read-more">
								<nuxt-link to="" class="black-link text-body font-size-30">
									Bàn làm việc
								</nuxt-link>
								<button class="btn-readmore">
									Đọc tiếp
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bgr-color-gray pt-3 pb-3">
			<div class="container">
				<div class="div-active mt-3">
					<b>
						DỰ ÁN ĐÃ THỰC HIỆN
					</b>
				</div>
				<hr class="hr-40">
				<div class="row">
					<div class="col-12 col-xl-3">
						<div class="row">
							<div class="col-12 ">
								<div class="height-100-percent">
									<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/capo_bar-360x230.jpg"
										class="height-50-percent" alt="">
									<div class="px-xl-3 px-5 font-size-15 pt-4 position-relative"
										style="background-color:#ffffff">
										17/10/2018
										<br>
										Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng
										vào việc
										<div class="info font-size-20 font-weight-600 px-2 px-xl-2">
											Nhà phố
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="row">
							<div class="col-12 ">
								<div class="height-100-percent">
									<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/20170812_165613-360x230.jpg"
										class="height-50-percent" alt="">
									<div class="px-xl-3 px-5 font-size-15 pt-4 position-relative"
										style="background-color:#ffffff">
										17/10/2018
										<br>
										Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng
										vào việc
										<div class="info font-size-20 font-weight-600 px-2 px-xl-2">
											BIệt thự
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="row">
							<div class="col-12 ">
								<div class="height-100-percent">
									<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/img2151-796-360x230.jpg"
										class="height-50-percent" alt="">
									<div class="px-xl-3 px-5 font-size-15 pt-4 position-relative"
										style="background-color:#ffffff">
										17/10/2018
										<br>
										Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng
										vào việc
										<div class="info font-size-20 font-weight-600 px-2 px-xl-2">
											Nhà mái thái
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-3">
						<div class="row">
							<div class="col-12 ">
								<div class="height-100-percent">
									<img src="http://nt09.chonweb.vn/wp-content/uploads/2018/10/blv2-360x230.jpg"
										class="height-50-percent" alt="">
									<div class="px-xl-3 px-5 font-size-15 pt-4 position-relative"
										style="background-color:#ffffff">
										17/10/2018
										<br>
										Lorem Ipsum là gì? Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng
										vào việc
										<div class="info font-size-20 font-weight-600 px-2 px-xl-2">
											Nhà ống hiện đại
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="font-size-14 d-flex justify-content-center mt-5">
						<button class="btn-seemore">
							Xem thêm
						</button>
					</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
	.hr-40 {
		border: 0;
		border-top: 2px solid #c79e13;
		width: 40px;
	}

	.img-width-auto {
		width: auto;
		height: auto;
	}

	.div-active {
		color: #c79e13;
		font-size: 22px;
	}

	.font-size-14 {
		font-size: 14px;
	}

	.font-size-15 {
		font-size: 15px;
	}

	.font-size-20 {
		font-size: 20px;
	}

	.font-weight-600 {
		font-weight: 600;
	}

	.btn-seemore {
		color: #ffffff;
		background-color: #c79e13;
		border-radius: 16px;
		border: none;
		padding-right: 20px;
		padding-left: 20px;
		font-size: 13px;
		line-height: 32px;
	}

	.info {
		position: absolute;
		top: -5%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #ffffff;
		width: 90%;
		padding-top: 10px;
	}

	.btn-seemore:hover {
		background-color: black;
		transition: 0.5s
	}

	.linkonimg {
		position: absolute;
		left: 15px;
		top: 15px;
		z-index: 1000;
	}

	.font-size-18:hover {
		color: #c79e13 !important;
		transition: 0.5s
	}

	.font-size-18 {
		font-size: 18px
	}

	.img-dark {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		transition: 0.5s ease;
		background-color: none;
	}

	.img-dark:hover {
		background-color: rgb(0, 0, 0, 0.7);
	}

	@media (max-width: 1199px) {
		.img-width-100 {
			width: 100%;
			height: auto;
		}
	}

	@media (min-width:1200px) {
		.img-width-100 {
			width: 255px;
			height: 147.281px
		}
	}

	.bgr-color-gray {
		background-color: rgb(204, 204, 204);
	}

	.read-more {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		transition: 0.5s ease;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		opacity: 0;
	}

	.read-more:hover {
		opacity: 0.8;
	}

	.img-square {
		width: 100%;
		height: 100%;
	}

	.btn-readmore {
		line-height: 14px;
		width: 86px;
		height: 30px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
		background-color: #c79e13;
		border: #c79e13;
		color: #ffffff;
		font-weight: 600;
		font-size: 14px;
	}

	.font-size-30 {
		font-size: 30px
	}

	.black-link {
		text-decoration: none;
	}

	.height-50-percent {
		height: 55%;
		width: 100%
	}

	@media (min-width: 1200px) {
		.height-100-percent {
			width: 100%;
			background-color: #ffffff;
			height: 347px;
		}
	}

	@media (max-width: 1199, 99px) {
		.height-100-percent {
			width: 100%;
			background-color: #ffffff;
			height: 647px;
		}
	}

</style>
